---
Checks: >-
  clang-analyzer-*,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.insecureAPI.rand,
  -clang-diagnostic-c2y-extensions
FormatStyle: google
