{
    "version": 3,
    "cmakeMinimumRequired": {
      "major": 3,
      "minor": 21,
      "patch": 0
    },
    "configurePresets": [
        {
            "name": "paleolimbot-local",
            "inherits": ["default"],
            "displayName": "(paleolimbot) local build",
            "cacheVariables": {
                "OPENSSL_ROOT_DIR": "/opt/homebrew/opt/openssl@1.1",
                "BUILD_SHARED_LIBS": "OFF",
                "BUILD_EXAMPLES": "ON",
                "BUILD_TESTS": "ON",
                "absl_DIR": "${sourceDir}/build/abseil-dist/lib/cmake/absl",
                "CMAKE_BUILD_TYPE": "Debug",
                "CMAKE_CXX_FLAGS_DEBUG": "-g"
            }
          }
    ]
}
